<mat-toolbar [color]="'primary'">
  <ng-container *ngTemplateOutlet="toolbarInnerLeft"></ng-container>
  <ng-container *ngTemplateOutlet="toolbarInnerRight"></ng-container>
</mat-toolbar>
<mat-sidenav-container autosize="true" [hasBackdrop]="smallScreen">
  <mat-sidenav [disableClose]="!smallScreen" [(opened)]="opened" [mode]="smallScreen? 'over' : 'push'">
    <div *ngIf="!smallScreen && !slimSidebar" class="sidebar-toggle-opened" (click)="slimSidebar = !slimSidebar">
      <mat-icon>chevron_left</mat-icon>
      <span>{{ 'APPLICATION.GENERAL.SIDEBAR.ACTIONS.CLOSE.NAME' | translate }}</span>
    </div>
    <div *ngIf="!smallScreen && slimSidebar" class="sidebar-toggle-closed" (click)="slimSidebar = !slimSidebar">
      <mat-icon>chevron_right</mat-icon>
    </div>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItems" routerLink="{{ item.subpath }}" routerLinkActive="active">
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="!slimSidebar || smallScreen">{{ item.name | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="page-content">
    <router-outlet>
      <ng-content></ng-content>
    </router-outlet>
  </div>
</mat-sidenav-container>

<ng-template #sidenavSmallScreen>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItems" routerLink="{{ item.subpath }}" routerLinkActive="active">
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.name | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</ng-template>

<ng-template #sidenavBigScreen>
  <mat-sidenav [disableClose]="true" opened mode="push">
    <div *ngIf="opened" class="sidebar-toggle-opened" (click)="opened = !opened">
      <mat-icon>chevron_left</mat-icon>
      <span>{{ 'APPLICATION.GENERAL.SIDEBAR.ACTIONS.CLOSE.NAME' | translate }}</span>
    </div>
    <div *ngIf="!opened" class="sidebar-toggle-closed" (click)="opened = !opened">
      <mat-icon>chevron_right</mat-icon>
    </div>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sidebarItems" routerLink="{{ item.subpath }}" routerLinkActive="active">
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
        <span *ngIf="opened">{{ item.name | translate }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</ng-template>

<ng-template #toolbarInnerLeft>
  <button *ngIf="smallScreen" (click)="opened = !opened" mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ 'APPLICATION.GENERAL.NAME' | translate }}</span>
</ng-template>

<ng-template #toolbarInnerRight>
  <div class="toolbar-spacer"></div>
  <button class="toolbar-icon-button" mat-icon-button aria-label="Notifcation icon-button">
    <mat-icon>notifications</mat-icon>
  </button>
  <div class="account-chip" aria-label="account information with menu">
    <mat-icon>person</mat-icon>
    <span>{{ (userDisplayName | async) || '' }}</span>
  </div>
</ng-template>
